<h1>Packer Tracker</h1>
<form action="/Pack" method="post">
  <input type="checkbox" id="food" name="food" value=true>
  <label for="food">i have food</label>
  <input type="checkbox" id="tent" name="tent" value=true>
  <label for="tent">i have tent</label>
  <input type="checkbox" id="water" name="water" value=true>
  <label for="water">i have water</label>
  <input type="checkbox" id="bloodSacrifice" name="bloodSacrifice" value=true>
  <label for="bloodSacrifice">i have bloodSacrifice</label>
  <button type="submit">Go!</button>
</form>

